.product-description {
    max-width: 500px;
  
    h4 {
      margin-bottom: 0.5rem;
    }
  
    p {
      margin-bottom: 1rem;
      line-height: 1.5;
    }
  
    ul {
      list-style: disc;
      padding-left: 1.5rem;
  
      li {
        margin-bottom: 0.5rem;
      }
    }
  }
  