.sidebar {
  background-color: var(--whiteColor);
  transition: all 0.3s ease-in-out;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 20rem;
  height: 100vh;
  box-shadow: 0.05rem 0 1.2rem 0.05rem rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border-right: 1px solid var(--greyColor);;
  border-radius: 10px; 
  
  &.collapsed {
    width: 8.5rem;

    @media (max-width: 768px) {
      width: 3rem;

      .menu {
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 1rem;
        height: 100%;

        .menu-item {
          width: 100%;
          justify-content: center;

          a {
            justify-content: center;
            margin: 0;
          }

          .menu-icon {
            margin: 0;
          }
        }
      }
    }

    .menu-icon {
      justify-content: center;
    }
    .menu-item span {
      display: none;
    }
    .menu-item a {
      display: flex;
      align-items: center;
      margin-left: 1rem;
    }
    .sidebar-header .text-logo {
      display: none;
    }
    .sidebar-header button {
      display: none;
    }
    .sidebar-header {
      .logo {
        height: 4rem;
        font-size: 20px;
      }
    }
  }

  .sidebar-header {
    display: flex;
    align-items: center;
    padding: 1rem 2.5rem 1rem 2rem;
    gap: 2rem;

    img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    .text-logo {
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      color: var(--primaryColor);
    }

    button {
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      border: none;
      background-color: transparent;
      .io-menu {
        color: var(--primaryColor);
        font-size: 20px;
      }
    }
  }

  .menu {
    list-style-type: none;
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    gap: 1rem;
    cursor: pointer;
    background-color: var(--whiteColor);
    border-radius: 50px;

    .menu-item {
      width: 80%;
      display: flex;
      flex-direction: row;
      align-items: center; 
      padding: 0.5rem;
      border-radius: 20px;
      transition: all 0.25s ease-in-out;
      position: relative;
      z-index: 5;

      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 2rem;
        color: var(--primaryColor);
        text-decoration: none;
        transition: color 0.02s ease-in-out;
        gap: 0.2rem;

        .menu-icon {
          font-size: 22px;
          width: 2rem;
          min-width: 2rem;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        span {
          flex-grow: 1;
          text-align: center;
        }
      }

      &:hover {
        background-color: var(
          --primaryColor,
          rgba(var(--secondaryColor, "0,0,0"), 0.8)
        );
        transform: scale(1.03);
        transition: background-color 0.05s ease-in-out,
          transform 0.07s ease-in-out;

        a {
          color: var(--whiteColor);
        }

        .submenu {
          opacity: 1;
          transform: translateY(0) scale(1);
          visibility: visible;
        }
      }

      .submenu {
        display: block;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%) translateY(-5px) scale(0.95);
        border-radius: 8px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        padding: 0.5rem 0;
        list-style-type: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
        background-color: var(--whiteColor);
        z-index: 10;

        li {
          padding: 0.5rem;
          text-align: center;
          white-space: nowrap;

          a {
            color: var(--primaryColor);
            text-decoration: none;
            display: block;
            padding: 0.5rem;
            transition: color 0.25s ease-in-out;

            &:hover {
              color: rgba(var(--primaryColor), 0.7);

              color: var(--hoverColor);

              color: rgb(var(--thirdColor), 15%);
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    &.collapsed {
      width: 3rem;
    }
  }
}
