  
  .main-content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    width: calc(100% - 250px); 
    margin-left: auto;
    padding-top: 10px;
  }
  
  .dashboard-content {
    display: grid;
    grid-template-columns: 1fr; // Une seule colonne centrée
    justify-content: center;
    align-content: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto; // Centre horizontalement
  }
  