.dashboard{
    align-items: center;
    display: grid;
    grid-template-columns: 3 , 1fr;
    .card-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap : 2rem;
    }
    height: 100vh;
}
